@model List<JadooTravel.Dtos.TestimonialDtos.ResultTestimonialDto>

@{
    ViewData["Title"] = "TestimonialList";
    Layout = "~/Views/Admin/Index.cshtml";
}


<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br />
    <br />
    <table class="table table-bordered">
        <tr>
            <th>#</th>
            <th>İsim Soyisim</th>
            <th>Ülke/Şehir</th>
            <th>Yorum</th>
            <th>Resim Url</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TestimonialId</td>
                <td>@item.NameSurname</td>
                <td>@item.CityCountry</td>
                <td>@item.Comment</td>
                <td>@item.ImageUrl</td>
                <td><a href="/Testimonial/DeleteTestimonial/@item.TestimonialId" class="btn btn-danger">Sil</a></td>
                <td><a href="/Testimonial/UpdateTestimonial/@item.TestimonialId" class="btn btn-success">Güncelle</a></td>
            </tr>
        }
    </table>
    <a href="/Testimonial/CreateTestimonial/" class="btn btn-info">Yeni Yorum Girişi</a>
</div>


