@inject Microsoft.Extensions.Localization.IStringLocalizer<SharedResource> L
@model JadooTravel.Dtos.RezervationDtos.CreateRezervationDto
@*
    _DefaultBookingStepsComponentPartial
*@

<section id="booking">

    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="mb-4 text-start">
                    <h5 class="text-secondary">@L["RezervationSubTittle"]</h5>
                    <h3 class="fs-xl-10 fs-lg-8 fs-7 fw-bold font-cursive text-capitalize">@L["RezervationTittle"]</h3>
                </div>
                <div class="d-flex align-items-start mb-5">
                    <div class="bg-primary me-sm-4 me-3 p-3" style="border-radius: 13px"> <img src="/public/assets/img/steps/selection.svg" width="22" alt="steps" /></div>
                    <div class="flex-1">
                        <h5 class="text-secondary fw-bold fs-0">@L["Rezervation1"]</h5>
                        <p>@L["Rezervation2"] <br class="d-none d-sm-block">@L["Rezervation3"]</p>
                    </div>
                </div>
                <div class="d-flex align-items-start mb-5">
                    <div class="bg-danger me-sm-4 me-3 p-3" style="border-radius: 13px"> <img src="/public/assets/img/steps/water-sport.svg" width="22" alt="steps" /></div>
                    <div class="flex-1">
                        <h5 class="text-secondary fw-bold fs-0">@L["Rezervation4"]</h5>
                        <p>@L["Rezervation5"]<br class="d-none d-sm-block"> @L["Rezervation6"]</p>
                    </div>
                </div>
                <div class="d-flex align-items-start mb-5">
                    <div class="bg-info me-sm-4 me-3 p-3" style="border-radius: 13px"> <img src="/public/assets/img/steps/taxi.svg" width="22" alt="steps" /></div>
                    <div class="flex-1">
                        <h5 class="text-secondary fw-bold fs-0">@L["Rezervation7"]</h5>
                        <p>@L["Rezervation8"]<br class="d-none d-sm-block"> @L["Rezervation9"]</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 d-flex justify-content-center align-items-start">
                <form method="post" asp-controller="Rezervation" asp-action="CreateRezervation" class="p-4 border rounded shadow bg-white" style="width:100%; max-width:500px;">
                    <h4 class="mb-3 text-center">@L["Iletisim"]</h4>

                    <div class="mb-3">
                        <input asp-for="AdSoyad" class="form-control" placeholder="@L["iletisimadsoyad"]" />
                    </div>

                    <div class="mb-3">
                        <input asp-for="TelNo" class="form-control" placeholder="@L["İletisimtelno"]" />
                    </div>

                    <div class="mb-3">
                        <input asp-for="Email" class="form-control" placeholder="@L["iletisimemail"]" />
                    </div>

                    <div class="mb-3">
                        <textarea asp-for="Description" rows="3" class="form-control" placeholder="@L["iletisimeklenecek"]"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary w-100">@L["iletisimgonder"]</button>
                </form>
            </div>
        </div>
    </div><!-- end of .container-->

</section>